<p id="notice"><%= notice %></p>

<p>
  <strong>Make:</strong>
  <%= @card.make %>
</p>

<p>
  <strong>Model:</strong>
  <%= @card.model %>
</p>

<p>
  <strong>Year:</strong>
  <%= @card.year %>
</p>

<%= link_to 'Edit', edit_card_path(@card) %> |
<%= link_to 'Back', cards_path %>
